:root {
  --header-blue: #11497B;
  --header-text: #ABBFCF;
  --blue: #009EE3;
  --blue-opacity: #34648F;
  --border-blue: #0068B4;
  --grey: #C9C9C9;
  --background: #F2F2F2;
}


html {
  color: #333;
  display: table;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

/* Style the form */
#regForm {
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}


/* Style the input fields */
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

input {
  padding: 10px;
  width: 80%;
  font-size: 17px;
  border: 1px solid var(--blue);
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0;
  border-style: solid;
  border-color: var(--blue);
  border-radius: 50%;
  display: inline-block;
}

/* Mark the active step: */
.step.active {
  background-color: var(--blue);
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: var(--blue);
}


hr {
  display: inline-block;
  border: none;
  border-top:1px solid;/* or bottom */
  padding-top: 9px; /* 15% or whatever fixed or % value that suits your needs*/
margin: 0;
margin-right: -5px;
  width: 10%;
  color: var(--blue);

  }
.icons {
  width: 25%;
  border: 2px solid black;
  padding: 5px;
}
